<main>
  <h1>Hallo world</h1>
  <h2>Second</h2>
  <h3>3 title</h3>

  <hr />

  <div class='display-1'>Hallo world</div>
  <div class='display-2'>Second</div>
  <div class='display-3'>3 title</div>

  <hr />
  <div class='text-muted'>Another text</div>
  <hr />

  <button class='btn btn-primary'>Test button</button>
  <button class='btn btn-dark'>Test button</button>
  <hr />
  <button class='btn btn-danger'>Test button</button>
  <hr />
  <div class='card'>
    <div class='card-body'>Test content</div>
  </div>

</main>